<?xml version="1.0" encoding="UTF-8"?><Context>
    <Resource accessToUnderlyingConnectionAllowed="true" driverClassName="org.h2.Driver" logAbandoned="true" name="jdbc/main" password="root" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" type="javax.sql.DataSource" url="jdbc:h2:file:~/data;ALIAS_COLUMN_NAME=true;AUTO_SERVER=TRUE" username="root"/>
    <Profile value="DEV"/>
    <Profile value="PROD"/>
    <Resource accessToUnderlyingConnectionAllowed="false" cloudDatabaseKey="" driverClassName="com.mysql.jdbc.Driver" logAbandoned="true" name="jdbc/jdbc/mysql" password="t402Il#HIzX^" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="" type="javax.sql.DataSource" url="jdbc:mysql://idepdbarm.cronapp.io:9075/northwind?createDatabaseIfNotExist=true&amp;useTimezone=true&amp;serverTimezone=UTC&amp;useSSL=false" username="thiagocosta"/>
    <Resource accessToUnderlyingConnectionAllowed="false" cloudDatabaseKey="" driverClassName="org.postgresql.Driver" logAbandoned="true" name="jdbc/jdbc/postgres" password="BDCHza4BHpqY5qV53" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="public" type="javax.sql.DataSource" url="jdbc:postgresql://idepdbarm.cronapp.io:9115/northwind?currentSchema=public&amp;charSet=UTF-8" username="postgres"/>
    <Resource accessToUnderlyingConnectionAllowed="false" cloudDatabaseKey="" driverClassName="org.firebirdsql.jdbc.FBDriver" logAbandoned="true" name="jdbc/jdbc/firebird" password="bZAJU6VkyVILJ9h8" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="" type="javax.sql.DataSource" url="jdbc:firebirdsql://idepdbarm.cronapp.io:9105/cronapp" username="sysdba"/>
    <Resource accessToUnderlyingConnectionAllowed="false" cloudDatabaseKey="" driverClassName="com.microsoft.sqlserver.jdbc.SQLServerDriver" logAbandoned="true" name="jdbc/jdbc/mssql" password="Mpkx9jpdrs" profile="DEV" removeAbandoned="false" removeAbandonedTimeout="60" schema="" type="javax.sql.DataSource" url="jdbc:sqlserver://idepdbarm.cronapp.io:9125;databaseName=NorthWind" username="sa"/>
</Context>
